<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Wei's Marathon Running</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header class="p-2">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
                    <h4>Wei's Marathon Journey(11/2008 - Current)</h4>
                </a>
            </div>
        </div>
    </header>

    <div id="app" class="container rounded bg-white mt-1 p-4" style="border:1px solid black">
        <div style="height:5px;"></div>
        <div class="container rounded col-md-12 m-2 p-4" style="border:1px solid green">
            <div class="row">
                <div class="col-md-6" >
                    <div>
                        <table class="table table-hover">
                            <tr v-for="marathon in marathons.data">
                                <td style="border-bottom: none;">
                                    <a href="#" @click="loadMarathon(marathon.id)" :class="{'bg-info' : marathon.id == currentMarathon.id}">{{marathon.id}} -
                                        {{marathon.name}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                    <div class="float-left">
                        <nav aria-label="Page navigation" v-if="marathons.totalPages > 1">
                            <ul class="pagination justify-content-left">
                                <li v-for="n in marathons.totalPages" class="page-item"> <a class="page-link" href="#" @click="loadPage(n)">{{n}}</a> </li>
                            </ul> 
                        </nav>
                    </div>
                </div>
                <div class="col-md-6">
                    <h5>{{currentMarathon.id}} - {{currentMarathon.name}}</h5>
                    <br>
                    <i class="fa-solid fa-calendar-days"></i> : {{currentMarathon.date}}
                    <br>
                    <i class="fa-solid fa-location-pin"></i> : {{currentMarathon.location}}</li>
                    <br>
                    <i class="fa-solid fa-person-running"></i> : {{currentMarathon.distance}}
                    <br>
                    <i class="fa-regular fa-clock"></i> : {{currentMarathon.time}}
                    <br>
                    <i class="fa-solid fa-bolt"></i> : {{currentMarathon.pace}}
                    <br>
                    <br>
                    <img class="rounded" v-bind:src="currentMarathon.picture" v-bind:alt="currentMarathon.name" height="350">
                </div>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="marathon.js" type="module"></script>
</body>

</html>