<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Wei's Marathon Journey</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css">
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <header>
        <div class="py-2 container">
            <span class="text-white"><h4>One race at a time. One step at a time</h4></span>
        </div>
    </header>

    <div id="app" class="container rounded bg-white mt-1 p-4" style="border:1px solid black">
        <div class="container rounded m p-4" style="border:1px solid green">
            <div class="row justify-content-md-center">
                <div class="col-sm-6 col-md-4 ">
                    <div>
                        <nav aria-label="Page navigation" v-if="marathons.totalPages > 1">
                            <ul class="pagination">
                                <li class="page-item" :class="{ disabled: !marathons.hasPrevious }">
                                    <a class="page-link" href="#" @click="loadPage(1)">10</a>
                                </li>
                                <li class="page-item" :class="{ disabled: !marathons.hasPrevious }">
                                    <a class="page-link" href="#" @click="loadPage(marathons.pageNumber - 1)">Previous</a>
                                </li>
                                <li class="page-item" :class="{ disabled: !marathons.hasNext }">
                                    <a class="page-link" href="#" @click="loadPage(marathons.pageNumber + 1)">Next</a>
                                </li>
                                <li class="page-item" :class="{ disabled: !marathons.hasNext }">
                                    <a class="page-link" href="#" @click="loadPage(marathons.totalPages)">100</a>
                                </li>
                                <li class="page-item">
                                    <a class="page-link" href="#" @click="loadAll()">All</a>
                                </li>
                            </ul>
                        </nav>
                    </div>
 
                    <div>
                        <table class="table table-hover table-borderless">
                            <tr v-for="marathon in marathons.data">
                                <td>
                                    <span class="fa fa-star-o font-italic"><i style="font-size:18px;color:blue">{{marathon.id}}</i>
                                    </span>
                                    - <a href="#" @click="loadMarathon(marathon.id)" :class="{'bg-info' : marathon.id == currentMarathon.id}">{{marathon.name}}</a>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4" v-if="currentMarathon.id > 0">
                    <h5>{{currentMarathon.name}}</h5>
                    <ul class="list-unstyled list-group w-75 mt-4">
                        <li list-group-item><i class="fa-solid fa-calendar-days"></i><span class="mx-4 mb-2 badge bg-secondary ">{{currentMarathon.date}}</span></li>
                        <li list-group-item><i class="fa-solid fa-location-pin"></i><span class="mx-4 mb-2 badge bg-secondary ">{{currentMarathon.location}}</span></li>
                        <li list-group-item><i class="fa-solid fa-person-running"></i><span class="mx-4 mb-2 badge bg-secondary ">{{currentMarathon.distance}}</span></li>
                        <li list-group-item><i class="fa-regular fa-clock"></i><span class="mx-4 mb-2 badge bg-secondary ">{{currentMarathon.time}}</span></li>
                        <li list-group-item><i class="fa-solid fa-bolt"></i><span class="mx-4 mb-2 badge bg-secondary ">{{currentMarathon.pace}}</span></li>
                    </ul>
                    <div class="mt-4">
                        <img class="rounded" v-bind:src="'content/img/' + currentMarathon.picture" v-bind:alt="currentMarathon.name" height="260">
                    </div>
                </div>
            </div>
            <div class="container  mt-4 rounded">
                <blockquote class="blockquote text-center font-weight-bold font-italic">
                    <i style="font-size:20px;color:black">"{{randomQuote}}"</i>
                </blockquote>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.2.3/js/bootstrap.min.js"></script>
    <script src="marathon.js" type="module"></script>
</body>

</html>