<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="static/css/style.css">
</head>

<body class="blurred">
  <div id="app">
    <header class="header">
      <div class="header-left">
        <div>
          <img class="weather-icon large" v-bind:src="'static/icons/' + current.iconUrl" />
          <div class="header-current-temp"> <span>{{current.currentTemp}}</span>&deg; </div>
        </div>
        <div>
          <div class="info-group">
            <div><span>{{location.city}}</span></div>
            <div><span>{{location.state}}</span></div>
          </div>
        </div>
      </div>

      <div class="header-right">
        <div class="info-group">
          <div class="label">High</div>
          <div><span>{{current.highTemp}}</span>&deg;</div>
        </div>
        <div class="info-group">
          <div class="label">FL High</div>
          <div><span>{{current.highFeelsLike}}</span>&deg;</div>
        </div>
        <div class="info-group">
          <div class="label">Wind</div>
          <div> <span>{{current.windSpeed}}</span><span class="value-sub-info">mph</span> </div>
        </div>
        <div class="info-group">
          <div class="label">Low</div>
          <div><span>{{current.lowTemp}}</span>&deg;</div>
        </div>
        <div class="info-group">
          <div class="label">FL Low</div>
          <div><span>{{current.lowFeelsLike}}</span>&deg;</div>
        </div>
        <div class="info-group">
          <div class="label">Precip</div>
          <div> <span>{{current.precip}}</span><span class="value-sub-info">in</span> </div>
        </div>
      </div>
    </header>

    <section class="day-section">

      <div v-for="day in daily">
        <div class="day-card">
          <img class="weather-icon" v-bind:src="'static/icons/' + day.iconUrl" />
          <div class="day-card-day">{{day.timestamp}}</div>
          <div><span>{{day.maxTemp}}</span><span>&deg;</span></div>
        </div>
      </div>
    </section>

    <table class="hour-section">
      <tbody v-for="hour in hourly">
        <tr class="hour-row">
          <td>
            <div class="info-group">
              <div class="label">{{hour.day}}</div>
              <div>{{hour.hour}}</div>
            </div>
          </td>
          <td>
            <img class="weather-icon" v-bind:src="'static/icons/' + hour.iconUrl" />
          </td>
          <td>
            <div class="info-group">
              <div class="label">Temp</div>
              <div><span>{{hour.temp}}</span><span>&deg;</span></div>
            </div>
          </td>
          <td>
            <div class="info-group">
              <div class="label">FL Temp</div>
              <div><span>{{hour.feelsLike}}</span><span>&deg;</span></div>
            </div>
          </td>
          <td>
            <div class="info-group">
              <div class="label">Wind</div>
              <div> <span>{{hour.windSpeed}}</span><span class="value-sub-info">mph</span> </div>
            </div>
          </td>
          <td>
            <div class="info-group">
              <div class="label">Precip</div>
              <div> <span>{{hour.precip}}</span><span class="value-sub-info">in</span> </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <script type="module" src="weather.js"></script>
</body>

</html>